# Folders
/.vscode
/build
/discloud
/deprecated
/node_modules
/src/discord/commands/dev
/src/discord/commands/private/dev

# Files
/.env
/.env.dev
/.env.development
/package-lock.json
/template.html

# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.sql
*.exe
*.db
*.development.json